/* put all your application wide styles here */

/* on-map attribution */
#attribution {
            width: 10em;
            height: 4.4em;
            position: relative;
            top: 3em;
            }
.generous_left_margin{ margin-left: 20px; }
.no_hover_change:hover {
    text-decoration: none;
    background: none;
    color: none;
}
.attribution_splash img{
    width: 150px;
    margin: 10px;
}
.attribution_text {
	font-size: 1.25em; margin: .4em 0 2em 0;
}

/* Make popup windows a bit more readable */
body.x-body-masked .x-window-plain .x-window-mc { background-color: #dfe8f6 !important; }

.circle:before{
    content: ' \25CF';
}
.circle{
    color: #00008B;
    font-size: 1.75em;
}
.export_button button{
    background-color: #ededed          !important;
    color: black                   !important;
    border: 1px solid #848284       !important;
    border-radius: .4em             !important;
    padding: .4em                  !important;
    cursor: pointer               !important;
    height: 1.9em                   !important;
    font-size: 1em                 !important;
    font-weight: bold               !important;
}
.gage_info_pane{
    max-width: 600px;
    background-color: #F0F8FF;
    border-radius: 5px;
    margin: 5px;
    padding: 5px
}
.gage_KVP{
    margin: 2px;
}
.gage_key{
    font-weight: bold;
}
.gage_value{
    cursor: text;
}

/* Custom layer switcher */
.layer-switcher-opacity-container {
	display: block; float: right;
}
.layer-switcher-opacity-label {
	padding: 0 .5em;
}

.olControlCustomLayerSwitcher .base-layers,
.olControlCustomLayerSwitcher .data-layers,
.olControlCustomLayerSwitcher .legend-footer {
	border: solid 1px black; margin: .1em; padding: .1em .4em;
}

.olControlCustomLayerSwitcher .legend-footer {
	margin: 1em .1em 0 .1em; padding: .4em .4em;
}

.olControlCustomLayerSwitcher .base-layers h3,
.olControlCustomLayerSwitcher .data-layers h3,
.olControlCustomLayerSwitcher .legend-footer h3
{ font-size: 1.4em; }

.olControlCustomLayerSwitcher .layer-switcher-layer-wrap {
	padding: .2em 0 .2em .4em;
}

.olControlCustomLayerSwitcher .data-layers .layer-switcher-layer-wrap {
	margin: .4em 0; /* more room for data layers, since they are the focus */
}

.olControlCustomLayerSwitcher .layer-label { font-weight: bold; }

.olImageLoadError {
	display: none !important;
}

