/* put all your application wide styles here */

/* on-map attribution */
#attribution {
            width: 10em;
            height: 4.4em;
            position: relative;
            top: 3em;
            }
.generous_left_margin{ margin-left: 20px; }
.no_hover_change:hover {
    text-decoration: none;
    background: none;
    color: none;
}
.attribution_splash img{
    width: 150px;
    margin: 10px;
}
.attribution_text {
	font-size: 1.25em; margin: .4em 0 2em 0;
}

/* Make popup windows a bit more readable */
body.x-body-masked .x-window-plain .x-window-mc { background-color: #dfe8f6 !important; }

.circle:before{
    content: ' \25CF';
}
.circle{
    color: #00008B;
    font-size: 1.75em;
}
.export_button button{
    background-color: #ededed          !important;
    color: black                   !important;
    border: 1px solid #848284       !important;
    border-radius: .4em             !important;
    padding: .4em                  !important;
    cursor: pointer               !important;
    height: 1.9em                   !important;
    font-size: 1em                 !important;
    font-weight: bold               !important;
}
.gage_info_pane{
    max-width: 600px;
    background-color: #F0F8FF;
    border-radius: 5px;
    margin: 5px;
    padding: 5px
}
.gage_KVP{
    margin: 2px;
}
.gage_key{
    font-weight: bold;
}
.gage_value{
    cursor: text;
}

/* Custom layer switcher */
.layer-switcher-opacity-container {
	display: block; float: right;
}
.layer-switcher-opacity-label {
	padding: 0 .5em;
}

#ext-comp-1002{
    margin-top:28px !important;
}

.olControlCustomLayerSwitcher .base-layers,
.olControlCustomLayerSwitcher .data-layers,
.olControlCustomLayerSwitcher .legend-footer {
	border: solid 1px black; margin: .1em; padding: .1em .4em;
}

.olControlCustomLayerSwitcher .legend-footer {
	margin: .1em .1em 0 .1em; padding: .4em .4em;
}

.olControlCustomLayerSwitcher .base-layers h3,
.olControlCustomLayerSwitcher .data-layers h3,
.olControlCustomLayerSwitcher .legend-footer h3
{ font-size: 1.4em; }

.olControlCustomLayerSwitcher .layer-switcher-layer-wrap {
	padding: .2em 0 .2em .4em;
}

.olControlCustomLayerSwitcher .data-layers .layer-switcher-layer-wrap {
	margin: .4em 0; /* more room for data layers, since they are the focus */
}

.olControlCustomLayerSwitcher .layer-label { font-weight: bold; }

/* make failed tiles transparent rather than pink */
.olImageLoadError {
	display: none !important;
}

#aboutContent{
    width:97%;
    min-height:400px;
    padding:1%;
    border:1px solid black;
    margin:.5%;
    position:relative;
}

.sizeChange{
    width:160px;
}

.glriLogo{
    width:220px;
}

#aboutContent img{
    margin:25px 15px 0 0;
}

#topParagraph{
    margin-bottom:15px;
}

#aboutContent h1{
    font-size:1.7em;
}

#aboutContent p{
    margin-top:10px;
    line-height:1.8em;
    font-size:1.1em;
}

#tips{
    width:400px;
    margin-top:5px !important;
}

#aboutContent ul{
    margin-left:15px;
    list-style: disc;
    font-size:1.1em;
}

#aboutContent li{
    margin-top:10px;
}

.bold{
    font-weight:bold;
    margin-bottom:5px;
}

#indexTabArea{
    position:absolute;
    left:0;
    top:103px;
    z-index:90000;
    width:100%;
    background:#fff;
    border-bottom:1px solid black;
}

ul#tabs{
    margin:0 0 15px 0;
    list-style: disc;
    font-size:1.1em;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    border-bottom:1px solid black;
}

ul#tabs li{
    margin-top:10px;
}

ul#tabs,
ul#Indextabs{
    list-style: none;
    padding:0;
    height:30px;
    cursor:pointer;
}

ul#tabs li{
    border-right:1px solid black;
}

ul#Indextabs li{
    border-left:1px solid black;
}

ul#tabs li,
ul#Indextabs li{
    display:inline-block;
    height:30px;
    width:100px;
    margin:0 -5px 0 0;
    text-align:center;
}

ul#Indextabs li:nth-child(2){
    border-right:1px solid black;
}

ul#tabs li a,
ul#Indextabs li a{
    display:inline-block;
    width:100px;
    height:24px;
    font-weight:normal;
    color:#000;
    padding-top:6px;
}

ul#tabs li a:hover,
ul#Indextabs li a:hover{
    background:rgb(180,180,180);
    color:#fff;
}

a.selected{
    background:rgb(180,180,180);
    color:#fff !important;
}



