/* put all your application wide styles here */

#attribution {
            width: 10em;
            height: 4.4em;
            position: relative;
            top: 3em;
            }
.no_hover_change:hover {
    text-decoration: none;
    background: none;
    color: none;
}
.attribution_splash img{
    width: 30em;
}
.attribution_text_link_wrapper{
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
}